html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
img {
    max-width: 100%;
}
html {
    height: 100%;
}
body {
    line-height: 1;
    color: var(--e-global-color-primary);
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    transition: 0.2s all;
}
.img-fluid {
    max-width: 100%;
}
:root {
    --e-global-color-primary: #000000;
    --e-global-color-secondary: #1F1F1F;
    --e-global-color-text: #4D4D4D;
    --e-global-color-accent: #223C76;
}
body {
    font-family: 'Metronic Pro', Sans-serif;
}
.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}
.text-underline {
    text-decoration: underline;
}
.text-default {
    color: var(--e-global-color-primary);
}
.hidden {
    display: none;
}
.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1400px
}
.btn-primary {
    background-color: var(--e-global-color-accent);
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    padding: 19px 50px;
    transition: 0.2s all;
}
.btn-primary:hover {
    background-color: #000;
}
.check-list li {
    position: relative;
}
.check-list li:before,
.check-list li:after {
    content: '';
    position: absolute;
    background-color: #5CA0DF;
}
.check-list li:before {
    left: 6px;
    top: 15px;
    transform: rotate(45deg);
    height: 2px;
    width: 8px;
}
.check-list li:after {
    left: 10px;
    top: 13px;
    transform: rotate(-45deg);
    height: 2px;
    width: 17px;
}

/* hero */
.hero {
    position: relative;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    padding: 65px 0 107px;
}
.logo-wrap {
    max-width: 256px;
    display: block;
}
.hero-row {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}
.hero .text-col,
.hero .form-col {
    width: 50%;
}
.hero .text-row {
    padding: 0 20px 0 0;
}
.hero .title {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.3;
    margin: 109px 0 28px;
}
.hero .text-col .description {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 40px;
}
.hero-list li {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0 0 21px;
    padding: 0 0 0 42px;
}
.hero-list li:before {
    content: '';
    background-image: url('../images/checkmark.svg');
    position: absolute;
    left: 3px;
    top: 2px;
    height: 22px;
    width: 27px;
}
.hero .form-col {
    display: flex;
    justify-content: flex-end;
}
.hero .form-holder {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: #0000001A 0px 10px 20px 0px;
    max-width: 470px;
    margin: 77px 0 0;
}
.hero .form-inner {
    padding: 47px 48px;
}
.hero .form-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 15px;
}
.hero .form-holder .description {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    max-width: 338px;
    margin: 0 auto 30px;
}
.form-holder .form-group {
    position: relative;
    display: flex;
    margin: 0 0 17px;
}
.form-holder .form-control {
    border: 1px solid #D4DAE2;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    font-weight: 400;
    padding: 18px 15px;
    width: 100%;
    outline: none;
}
.form-holder select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../images/select-arrow.svg');
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 23px;
    font-family: 'Metronic Pro', Sans-serif;
}

.form-holder select.form-control .option {
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.selected-image {
    z-index: 1;
    position: absolute;
    left: 5px;
    width: 100%;
    height: 100%;
    max-width: 46px;
    max-height: 46px;
    background-repeat: no-repeat;
    top: calc(50% - 23px);
}

.form-holder .form-control::placeholder {
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
}
.form-holder select.form-control:disabled {
    padding: 18px 15px 18px 55px;
    background-color: #F4F4F4;
}
.form-holder .btn-wrap {
    text-align: center;
    margin: 22px 0 0;
}
.form-holder .btn {
    width: 100%;
}
.form-group .icon-place {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 38px;
    width: 32px;
}
/* partnerships-section */
.trusted-section {
    text-align: center;
    padding: 70px 0 30px;
}
.trusted-section .title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 30px;
}
.trusted-section .trusted-slider {
    padding: 0 43px;
    margin: 0 72px;
}
.trusted-section .slide-item {
    padding: 0 15px;
}
.trusted-slider .slick-prev,
.trusted-slider .slick-next {
    font-size: 0;
    background-color: transparent;
    background-image: url('../images/slider-arrow.svg');
    border: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: absolute;
    top: calc(50% - 18px);
}
.trusted-slider .slick-prev {
    left: 0;
}
.trusted-slider .slick-next {
    transform: rotate(180deg);
    right: 0;
}

/* review-section */
.review-section {
    border-top: 1px solid #D4DAE2;
    padding: 67px 0 110px;
}
.review-section .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 15px;
    text-align: center;
}
.review-slider {
    padding: 0 100px;
}
.review-slider .slick-list {
   padding: 50px 0;
}
.review-slider .slide-item {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: #0000001A 0px 10px 20px 0px;
    padding: 55px 30px 45px;
    margin: 0 15px;
}
.review-slider .icon-row {
    margin: 0 0 23px;
}
.review-slider .star-ico {
    height: 21px;
    width: 23px;
}
.review-slider .text-row {
    margin: 0 0 42px;
}
.review-slider .text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
}
.review-slider .reviewer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-slider .reviewer {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.review-slider .slide-item-img {
    background-color: #F4F4F4;
    border-radius: 50%;
    flex: 0 0 auto;
    height: 60px;
    width: 60px;
}
.review-slider .slick-prev,
.review-slider .slick-next {
    font-size: 0;
    background-color: transparent;
    background-image: url('../images/slider-arrow-black.svg');
    border: 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    top: calc(50% - 30px);
}
.review-slider .slick-prev {
    left: 0;
}
.review-slider .slick-next {
    transform: rotate(180deg);
    right: 0;
}
.review-slider .slick-dots {
    display: flex;
    justify-content: center;
}
.review-slider .slick-dots li {
    padding: 0 10px;
}
.review-slider .slick-dots button {
    font-size: 0;
    border: 0;
    background-color: var(--e-global-color-accent);
    border-radius: 50%;
    cursor: pointer;
    opacity: .2;
    width: 12px;
    height: 12px;
    display: block;
    padding: 0;
}
.review-slider .slick-dots .slick-active button {
    opacity: 1;
}

/* why-section */
.why-section {
    background-color: #F4F4F4;
    padding: 103px 0 50px;
}
.why-section .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 84px;
    text-align: center;
}
.why-section .item-row {
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    max-width: 1170px;
    margin: 0 auto;
}
.why-section .item {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 50px 20px 20px;
    min-height: 180px;
}
.why-section .item-inner {
    display: flex;
    flex-wrap: wrap;
}
.why-section .icon-holder {
    width: 22%;
}
.why-section .text-holder {
    padding: 30px 0 0;
    width: 78%;
}
.why-section .item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 20px;
}
.why-section .item-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

/* winner-section */
.winner-section {
    background-color: #F4F4F4;
    padding: 37px 0 115px;
    text-align: center;
}
.winner-section .title {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 62px;
    text-align: center;
}
.winner-section .item {
    border-radius: 6px;
    overflow: hidden;
    max-width: 1170px;
    margin: 0 auto;
}
.winner-section .text-holder {
    background-color: var(--e-global-color-accent);
    margin-top: -86px;
    position: relative;
    padding: 38px 0 40px;
}
.winner-section .inner-holder {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    max-width: 630px;
    margin: 0 auto;
}
.winner-section .inner-holder p + p {
    margin: 10px 0 0;
}

/* img-text-section */
.img-text-section {
    padding: 120px 0 88px;
}
.img-text-section .inner-row {
    display: flex;
    position: relative;
}
.img-text-section .text-col {
    width: 50%;
}
.img-text-section .text-holder {
    padding: 62px 0 0 115px;
}
.img-text-section .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 20px;
}
.img-text-section .description {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 40px;
}
.img-text-section .list-holder {
    border-left: 4px solid #D4DAE2;
    padding: 0 0 0 20px;
    margin: 0 0 40px;
}
.img-text-section .list-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    padding: 0 0 0 40px;
    margin: 0 0 20px;
}
.img-text-section .list li {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
    padding: 0 0 0 40px;
    margin: 0 0 10px;
}
.img-text-section .list-numbered {
    counter-reset: list-number;
}
.img-text-section .list-numbered li::before {
    counter-increment: list-number;
    content: "0" counter(list-number);
    position: absolute;
    left: 4px;
    top: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}
.img-text-section .btn-holder {
    display: flex;
    justify-content: space-between;
    margin: 62px 0 0;
}
.img-text-section .btn {
    flex: 1 0 auto;
    margin: 0 30px 0 0;
}
.img-text-section .btn-holder p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}
.img-text-section .img-col {
    width: 50%;
}
.img-text-section .img-holder {
    position: absolute;
    top: 0px;
    right: -50px;
    border-radius: 6px;
    overflow: hidden;
}
.img-text-section.img-reverse .inner-row {
    flex-direction: row-reverse;
}
.img-text-section.img-reverse .img-holder {
    position: absolute;
    top: 0px;
    left: -50px;
    right: auto;
}
.img-text-section.img-reverse .text-holder {
    padding: 73px 90px 0 15px;
}

/* about-section */
.about-section {
    padding: 157px 0 70px;
}
.about-section .inner-row {
    background-color: #F4F4F4;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0 auto;
}
.about-section .text-col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
}
.about-section .text-holder {
    padding: 40px 100px;
}
.about-section .title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 40px;
}
.about-section .text-holder p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 30px;
}
.about-section .img-col {
    width: 40%;
}
.about-section .img-holder {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    max-width: 400px;
    margin: 70px 20px 70px 0;
}
.about-section .founder-holder {
    background-color: var(--e-global-color-accent);
    padding: 11px 20px 11px 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    min-width: 210px;
    position: absolute;
    bottom: 50px;
    left: 0;
}
.about-section .founder-holder::after {
    content: '';
    display: block;
    position: absolute;
    right: 7px;
    bottom: 7px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 15px 15px;
    border-color: transparent transparent #6AC2F3 transparent;
    transform: rotate(0deg);
}

/* cta-section */
.cta-section {
    text-align: center;
    padding: 40px 0 122px;
}
.cta-section .title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 20px;
}
.cta-section .description {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 32px;
}
.cta-section .btn-holder {
    margin: 0 0 15px;
}
.cta-section .btn {
    display: inline-block;
}
.cta-section .text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    max-width: 370px;
    margin: 0 auto;
}

/* footer */
.footer {
    border-top: 1px solid #D4DAE2;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    padding: 40px 0 58px;
}

/* p-3a */
.p-3a .hero {
    padding: 65px 0 89px;
}
.p-3a .hero .title {
    margin: 80px 0 28px;
}
.p-3a .hero .form-holder {
    margin: 100px 0 0;
}
.p-3a .hero .form-inner {
    padding: 40px 48px 68px;
}
.p-3a .hero .form-title {
    font-size: 24px;
    line-height: 1.5;
    margin: 0 0 35px;
}
.p-3a .hero .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 0 13px;
}
.p-3a .hero .form-group label {
    border: 2px solid #D4DAE2;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px 18px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.p-3a .hero .form-group label img {
    margin-right: 14px;
}
.p-3a .form-group .custom-check {
    border: 2px solid #D4DAE2;
    border-radius: 50%;
    display: block;
    height: 27px;
    width: 27px;
    position: absolute;
    top: calc(50% - 15px);
    right: 22px;
}
.p-3a .form-group .custom-check::after {
    content: '';
    background-image: url('../images/checkmark-white.svg');
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    height: 20px;
    width: 20px;
}
.p-3a .form-check:checked + label {
    background-color: rgba(34, 60, 118, 0.05);
    border-color: var(--e-global-color-accent);
}
.p-3a .form-check:checked ~ .custom-check {
    background-color: var(--e-global-color-accent);
    border-color: transparent;
}
.p-3a .form-check:checked ~ .custom-check:after {
    opacity: 1;
}
.p-3a .form-check {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -9;
}
.p-3a .form-holder .btn-wrap {
    margin: 20px 0 0;
}
.p-3a .why-section {
    background-color: transparent;
    border-top: 1px solid #D4DAE2;
    padding: 55px 0 125px;
}
.p-3a .why-section .title {
    font-size: 44px;
    margin: 0 0 62px;
}
.p-3a .why-section .item {
    border: 2px solid #D4DAE2;
}
.p-3a .winner-section {
    padding: 88px 0 107px;
}
.p-3a .winner-section .title {
    margin: 0 0 50px;
}
.p-3a .review-section {
    border: 0;
    padding: 97px 0 50px;
}
.p-3a .img-text-section {
    padding: 50px 0 155px;
}
.p-3a .about-section {
    padding: 92px 0 70px;
}
@media (max-width: 1599px) {
    .img-text-section {
        padding: 120px 0 0px;
    }
    .img-text-section .img-holder {
        right: 0;
        position: relative;
        text-align: right;
    }
    .img-text-section.img-reverse .img-holder {
        left: 0;
        position: relative;
        text-align: left;
    }
    .about-section {
        padding: 115px 0 70px;
    }
    .p-3a .img-text-section {
        padding: 50px 0 50px;
    }
    .p-3a .about-section {
        padding: 50px 0 70px;
    }
}
@media (max-width: 1399px) {
    .img-text-section .text-holder {
        padding: 62px 15px 0 15px;
    }
    .img-text-section.img-reverse .text-holder {
        padding: 73px 15px 0 15px;
    }
    .img-text-section .img-col {
        display: flex;
        align-items: center;
    }
}
@media (max-width: 1199px) {
    .img-text-section .text-holder,
    .img-text-section.img-reverse .text-holder {
        padding: 0 15px;
    }
    .img-text-section .btn-holder {
        flex-wrap: wrap;
        text-align: center;
    }
    .img-text-section .btn {
        text-align: center;
        margin: 0 0 30px;
    }
    .img-text-section .btn-holder p {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .hero {
        background-image: none;
        padding: 0;
    }
    .hero .container {
        padding: 0;
    } 
    .hero .hero-row {
        padding: 0;
    }
    .hero .text-col {
        background-image: url('../images/hero-mob.jpg');
        background-size: cover;
        padding: 50px 20px 218px;
    }
    .hero .text-col, .hero .form-col {
        width: 100%;
    }
    .hero .form-col {
        justify-content: center;
        margin-top: -188px;
    }
    .hero .text-row {
        padding: 0;
    }
    .hero .title {
        font-size: 36px;
        text-align: center;
        margin: 70px 0 28px;
    }
    .hero .text-col .description {
        font-size: 20px;
        text-align: center;
    }
    .hero .hero-list {
        max-width: 350px;
        margin: 0 auto;
    }
    .hero .form-holder {
        margin: 0 20px 0;
    }
    .trusted-section .trusted-slider {
        margin: 0;
    }
    .review-slider {
        padding: 0 50px;
    }
    .review-section .title,
    .why-section .title,
    .winner-section .title {
        font-size: 32px;
    }
    .why-section {
        padding: 65px 0 50px;
    }
    .why-section .title {
        margin: 0 0 50px;
    }
    .why-section .item {
        padding: 28px 25px 40px;
    }
    .why-section .icon-holder,
    .why-section .text-holder {
        width: 100%;
    }
    .why-section .item-inner {
        text-align: center;
    }
    .winner-section {
        padding: 37px 0 87px;
    }
    .img-text-section {
        padding: 87px 0 0px;
    }
    .img-text-section .inner-row,
    .img-text-section.img-reverse .inner-row {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .img-text-section .text-col,
    .img-text-section .img-col {
        width: 100%;
    }
    .img-text-section .text-col {
        margin: 30px 0 0;
    }
    .img-text-section .img-col {
        justify-content: center;
    }
    .about-section {
        padding: 87px 0 70px;
    }
    .about-section .text-holder {
        padding: 40px;
    }
    .about-section .title,
    .cta-section .title {
        font-size: 36px;
    }
    .p-3a .hero {
        padding: 0;
    }
    .p-3a .hero .form-holder {
        margin: 0;
    }
    .p-3a .why-section .title {
        font-size: 36px;
        margin: 0 0 50px;
    }
    .p-3a .why-section {
        padding: 55px 0 50px;
    }
    .p-3a .winner-section {
        padding: 50px 0 50px;
    }
    .p-3a .review-section {
        border: 0;
        padding: 50px 0 50px;
    }
}
@media (max-width: 767px) {
    .btn-primary {
        padding: 19px 20px;
    }
    .logo-wrap {
        max-width: 158px;
    }
    .hero .text-col {
        padding-top: 30px;
    }
    .hero .title {
        font-size: 28px;
        margin: 30px 0 14px;
    }
    .hero .text-col .description {
        font-size: 16px;
        margin: 0 0 30px;
    }
    .hero-list li {
        font-size: 14px;
    }
    .hero .form-inner {
        padding: 38px 30px;
    }
    .hero .form-title {
        font-size: 22px;
        margin: 0 0 20px;
    }
    .hero .form-holder .description {
        font-size: 14px;
        margin: 0 auto 23px;
    }
    .trusted-section {
        text-align: center;
        padding: 35px 0 15px;
    }
    .review-section {
        padding: 75px 0 37px;
    }
    .review-section .title,
    .why-section .title,
    .winner-section .title {
        font-size: 22px;
    }
    .review-section .title {
        margin: 0;
    }
    .review-slider {
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
    .review-slider .slick-list {
        padding: 20px 0 38px;
    }
    .review-slider .text {
        font-size: 16px;
    }
    .review-slider .reviewer {
        font-size: 14px;
    }
    .why-section {
        padding: 47px 0 5px;
    }
    .why-section .title {
        margin: 0 0 30px;
    }
    .why-section .item-row {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .why-section .text-holder {
        padding: 17px 0 0;
    }
    .why-section .item-title {
        margin: 0 0 14px;
    }
    .winner-section {
        padding: 37px 0 45px;
    }
    .winner-section .title {
        margin: 0 0 35px;
    }
    .winner-section .inner-holder {
        font-size: 14px;
    }
    .winner-section .text-holder {
        padding: 19px 20px 21px;
        margin-top: -2px;
    }
    .img-text-section {
        padding: 45px 0 0px;
    }
    .img-text-section .text-col {
        margin: 25px 0 0;
    }
    .img-text-section .title {
        font-size: 22px;
        margin: 0 0 12px;
    }
    .img-text-section .text-holder,
    .img-text-section.img-reverse .text-holder {
        padding: 0;
    }
    .img-text-section .description {
        margin: 0 0 30px;
    }
    .img-text-section .list-holder {
        padding: 0 0 0 5px;
        margin: 0 0 30px;
    }
    .img-text-section .list-title {
        font-size: 18px;
        padding: 0 0 0 33px;
        margin: 0 0 15px;
    }
    .img-text-section .list li {
        font-size: 14px;
        padding: 0 0 0 33px;
    }
    .img-text-section .btn-holder {
        margin: 30px 15px 0;
    }
    .img-text-section .btn {
        margin: 0 0 15px;
    }
    .about-section {
        background-color: #F4F4F4;
        padding: 40px 0 50px;
        margin: 50px 0 0;
    }
    .about-section .inner-row {
        background-color: transparent;
    }
    .about-section .text-col,
    .about-section .img-col {
        width: 100%;
    }
    .about-section .text-holder {
        padding: 0;
    }
    .about-section .title {
        font-size: 30px;
        margin: 0 0 23px;
    }
    .about-section .text-holder p {
        font-size: 16px;
        margin: 0 0 25px;
    }
    .about-section .img-holder {
        margin: 20px auto 0;
    }
    .cta-section {
       padding: 40px 0 40px; 
    }
    .cta-section .title {
        font-size: 30px;
        line-height: 1.3;
        margin: 0 0 15px;
    }
    .cta-section .description {
        font-size: 16px;
        margin: 0 0 20px;
    }
    .cta-section .btn-holder {
        margin: 0 15px 15px;
    }
    .cta-section .btn {
        display: block;
    }
    .footer {
        padding: 25px 0;
    }
    .p-3a .hero .title {
        margin: 30px 0 18px;
        text-align: left;
    }
    .p-3a .hero .form-col {
        margin-top: 0;
    }
    .p-3a .hero .text-col {
        padding: 30px 20px 20px;
    }
    .p-3a .hero .text-col .description {
        text-align: left;
        font-size: 17px;
    }
    .p-3a .hero .form-inner {
        padding: 32px 20px 45px;
    }
    .p-3a .hero .form-title {
        font-size: 22px;
        line-height: 1.3;
        margin: 0 0 30px;
    }
    .p-3a .hero .form-group label {
        padding: 8px 18px;
    }
    .p-3a .why-section {
        padding: 28px 0 50px;
    }
    .p-3a .why-section .title {
        font-size: 22px;
        margin: 0 0 32px;
    }
    .p-3a .winner-section .title {
        margin: 0 0 35px;
    }
    .p-3a .review-section {
        padding: 35px 0 15px;
    }
    .p-3a .img-text-section {
        padding: 50px 0 0;
    }
    .p-3a .about-section {
        padding: 40px 0 50px;
    }
}

/* form page */
.form-step .hero {
    background-color: #08172E;
    background-image: none;
    color: #fff;
    text-align: center;
    padding: 65px 0 57px;
}
.form-step .logo-wrap {
    margin: 0 auto 70px;
}
.form-step .title {
    margin: 0 0 32px;
    font-size: 32px;
}
.form-step .subtitle {
    margin: 0 0 30px;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}
.form-step .form-section {
    padding: 75px 0 130px;
}
.form-step .form {
    max-width: 970px;
    margin: 0 auto;
}
.form-step .form-article {
    display: flex;
    justify-content: space-between;
}
.form-article + .form-article {
    margin: 75px 0 0;
}
.form-step .form-row {
    width: 100%;
    max-width: 570px;
}
.form-step .form-title {
    font-size: 20px;
    font-weight: 600;
    min-width: 30%;
}
.form-step .form-row .form-title {
    margin: 0 0 28px;
    font-size: 18px;
    line-height: 1.2;
}
.form-step .form-row .form-group {
    display: flex;
    flex-direction: column;
}
.form-step .form-row .form-group + .form-group {
    margin: 19px 0 0;
}
.form-step .form-row .label {
    font-size: 15px;
    line-height: 1.6;
    margin: 0 0 6px;
}
.form-step .form-row .form-group input,
.form-step .form-row .form-group textarea {
    font-size: 15px;
    border: 1px solid #D4DAE2;
    border-radius: 2px;
    padding: 18px 19px;
    font-family: 'Metronic Pro', Sans-serif;
    outline: none;
}
.form-step .form-row .form-group input::placeholder,
.form-step .form-row .form-group textarea::placeholder {
    color: rgba(0, 0, 0, 0.2);
}
.form-step .form-row .form-group textarea {
    max-height: 112px;
}
.form-step .custom-w {
    max-width: 300px;
}
/* custom checkbox */
.form-step .checkbox-list {
    margin: 17px 0 9px;
}
.form-step .checkbox-group {
    margin: 0 0 10px;
}
.form-step .checkbox-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.form-step .checkbox-group label {
    position: relative;
    cursor: pointer;
    font-size: 15px;
}
.form-step .checkbox-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #D4DAE2;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 11px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}
.checkbox-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* upload button */
.form-step .file-drop-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    max-width: 100%;
    padding: 22px 0;
    border: 1px dashed #D4DAE2;
    border-radius: 3px;
    transition: 0.2s;
}
.form-step .file-drop-area .is-active {
    background-color: rgba(255, 255, 255, 0.05);
}
.form-step .upload-ico {
    width: 100%;
    max-width: 50px;
    max-height: 50px;
    margin: 0 0 9px;
}
.form-step .fake-btn {
    /* flex-shrink: 0;
    text-transform: uppercase; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 8px;
}
.form-step .file-msg {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-step .form-row .form-group .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    padding: 0;
}
.form-step .file-input:focus {
    outline: none;
}
.form-step .btn {
    font-family: 'Metronic Pro', Sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 19px 15px;
    margin: 32px 0 0;
}

@media (max-width: 767px) {
    .hidden-mob {
        display: none;
    }
    .form-step .hero {
        padding: 28px 0 28px;
    }
    .form-step .logo-wrap {
        margin: 0 auto 27px;
    }
    .form-step .title {
        margin: 0 0 15px;
        font-size: 28px;
    }
    .form-step .subtitle {
        margin: 0 0 18px;
        font-size: 18px;
    }
    .form-step .form-section {
        padding: 45px 0 10px;
    }
    .form-step .form-article {
        flex-wrap: wrap;
    }
    .form-step .form-row {
        max-width: 100%;
    }
    .form-step .custom-w {
        max-width: 100%;
    }
    .form-step .form-row .label {
        font-size: 14px;
        margin: 0 0 7px;
    }
    .form-step .form-row .form-group input,
    .form-step .form-row .form-group textarea {
        font-size: 14px;
        padding: 19px 19px;
    }
    .form-step .form-title {
        width: 100%;
        margin: 0 0 35px;
    }
    .form-article + .form-article {
        margin: 54px 0 0;
    }
    .form-step .checkbox-group label {
        font-size: 14px;
    }
    .form-step .checkbox-list {
        margin: 17px 0 0px;
    }
    .form-step .btn {
        margin: 80px 0 0;
    }
}

/* modal */
.modal {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}
.modal.is-visible {
    visibility: visible;
}
.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 23, 46, 0.85);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}
.modal.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.modal-wrapper {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: 690px;
    height: max-content;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
    padding: 96px 20px 60px;
    border-radius: 5px;
}
.modal-transition {
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);
    opacity: 0;
}
.modal.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}
.modal-form {
    max-width: 425px;
    margin: 0 auto;
    text-align: center;
}
.modal-title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 25px;
}
.modal-subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 0 15px;
}
.modal-close {
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    padding: 1em;
    background: none;
    border: 0;
    transition: all 0.25s;
}
.modal-close:hover {
    transform: rotate(90deg);
}
.modal-form .form-group {
    padding: 0 22px;
}
.modal-form .btn {
    margin: 0;
}

@media (max-width: 767px) {
    .modal-title {
        font-size: 22px;
        margin: 0 0 14px;
    }
    .modal-subtitle {
        font-size: 16px;
    }
    .modal-close .icon-close {
        width: 32px;
        height: 32px;
    }
}

/* select */
.select2-container--default {

}
.select2-selection--single {
border-color: #fff;
height: 60px;
padding: 7.5px 0;
border-radius: 0;

}
.select2-selection__arrow {
height: 58px;
}
.select2-dropdown {
border-radius: 0;
box-shadow: #444 0px 3px 5px;
border: 0;
}
  